<nav class="navbar">
        <div class="logo">
        <a routerLink=""><h1 class="md:text-xl font-semibold">fx-bank</h1></a>
        </div>
        <ul class="nav-links">
          <li class="nav-item"><a *ngIf="token" routerLink="createAccount">Create Account</a></li>
          <li class="nav-item"><a *ngIf="token" routerLink="dashboard">Dashboard</a></li>
          <li class="nav-item"><a *ngIf="token" routerLink="rates">View Rates</a></li>
          <li class="nav-item"><a (click)="signout()" *ngIf=token href="#">Logout</a></li>
        </ul>
</nav>
