<div class="container">
    <div class="wrapper">
        <section class="order-summary">
            <ng-container *ngIf="providers.provider_id != ''; else noItems">
                <ng-container *ngIf=" providers$ | async; let _provider">
                    <form (ngSubmit)=onSubmit()>
                        <div class="currency">
                            <label for="send">Select {{providers.send_currency}} account</label>
                            <select name="send " id="field " class="select-field" [(ngModel)]="senderId">
                                <option value="">-- Select an option --</option>
                                <option *ngFor="let sender of senders " [value]="sender.id">{{ sender.name }}</option>
                            </select>
                        </div>
                        <div class="currency">
                            <label for="receive">Select {{providers.receive_currency}} account</label>
                            <select name="receive " id="field " class="select-field" [(ngModel)]="receiverId">
                                <option value="">-- Select an option --</option>
                                <option *ngFor="let receiver of receivers" [value]="receiver.id">{{ receiver.name }}</option>
                            </select>
                        </div>
                        <div class="name">
                            <input type="text " id="field " placeholder="Amount " [(ngModel)]="amount " name="amount ">
                        </div>
                        <div class="purchase">
                            <button type="submit " style="padding: 10px 10px; ">Make purchase</button>
                        </div>
                    </form>
                </ng-container>
            </ng-container>
        </section>
    </div>
</div>
<ng-template #noItems>
    <h3 class="text-xl ">
        Check out the rates and make a purchase!
    </h3>
</ng-template>
<p-toast position=top-left></p-toast>