.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 32px;
}

.create-account{
    height: 51%;
    width: 60%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 20px;
}

form{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#form-item{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

label{
    width: 50%;
    padding: 20px;
}

.form{
    height: 80%;
}

.intro{
    height: 20%;
    text-align: center;
}

#field{
    border-radius: 1rem;
    padding: 0.5rem;
    border: none;
    width: 60%;
    background-color: #16330014;
    outline: none;
}

#field:focus{
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.button:hover{
    border-radius: 2%;
    background-color: #16330014;
}
